* {
  text-align: center;
}
body {
  background-color: #d3885c;
}
img {
  width: 500px;
  height: 500px;
}
.burgerstyle {
  text-align: left;
  width: 100%;
  height: 40px;
  margin: 2px;
  padding: 3px;
}
.buttons {
  margin: 5px;
  height: 40px;
}
